# quarkus.dynamodb.endpoint-override=http://localhost:8000

quarkus.lambda.handler=amazonDynamodbQuickstart
quarkus.dynamodb.aws.region=us-east-1
quarkus.dynamodb.aws.credentials.type=static
quarkus.dynamodb.aws.credentials.static-provider.access-key-id=stuff
quarkus.dynamodb.aws.credentials.static-provider.secret-access-key=stuff
